<html>
  <head>
    <meta charset="utf-8" />
    <title>2021 퇴원손상 심층조사 결과보고회</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <link rel="stylesheet" href="css/home.css" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <script
      src="https://kit.fontawesome.com/2144746efc.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="frame">
        <div class="video-info">
          <div class="video">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/AdUw5RdyZxI?controls=0"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
          <div class="info">
            <div class="question-box">
              <input
                type="text"
                placeholder="질문할 메세지를 적고 Enter 를 눌러주세요."
              />
              <button>질문하기</button>
            </div>
            <div class="info-title">
              <div class="info-text">
                <div class="title">2022년 냥펀스튜디오 결과보고회</div>
                <div class="lastopen"></div>
              </div>
            </div>
            <div class="info-detail"></div>
          </div>
        </div>

        <div class="reference">
          <div class="title">참고 자료</div>
          <div class="group">
            <div class="title">링크</div>
            <div class="contents">
              <a class="content" href="#">
                <i class="fas fa-link"></i>
                <div>2022년 냥펀스튜디오 결과보고회-발표집</div>
              </a>
            </div>
          </div>
          <div class="group">
            <div class="title">일정표</div>
            <div class="time-table">
              <div class="time-group">1부. 개회 및 경과보고</div>
              <div class="time-form">
                <div class="title">개회사, 축사, 인사말씀</div>
                <div class="time">13:20 ~ 13:50</div>
                <div class="people">
                  김냥펀 차장 (@@@청)<br />
                  이엔펀 협회장 (대한 @@@ 협회)<br />
                  @@@ 협회장 (### 협회)<br />
                  @@@ 국장 (@@@청)
                </div>
              </div>
              <div class="time-form">
                <div class="title">2021년도 @@@ 사업 경과보고</div>
                <div class="time">13:50 ~ 14:10</div>
                <div class="people">@@@ 과장<br />(@@@청 @@@과)</div>
              </div>
              <div class="time-form">
                <div class="title">@@@ 전략 수립을 위한 @@@ 강화</div>
                <div class="time">14:10 ~ 14:30</div>
                <div class="people">@@@ 교수<br />(@@@대학)</div>
              </div>
              <div class="time-form">
                <div class="title">@@@ 발전 방안</div>
                <div class="time">14:30 ~ 14:50</div>
                <div class="people">@@@ 교수<br />(서울특별시 @@@)</div>
              </div>
              <div class="time-form">
                <div class="title">
                  2021년도 @@@ 담당자 교육과정 운영 경과보고
                </div>
                <div class="time">14:50 ~ 15:10</div>
                <div class="people">@@@ 부회장<br />(대한@@@협회)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div></div>
    </div>
  </body>
  <script type="text/javascript" src="js/home.js"></script>
</html>
