extends layout.pug

block contents 
    div.p-8.flex.justify-center
        h1.text-4xl.font-bold.text-center.mt-8 질의 응답
        //- button.primary-btn.red-btn.mt-8.ml-4(onclick="location.href='/export'") csv출력
    table(class="w-4/5").table-auto.mx-auto.mb-40
        thead.text-3xl 
            tr
                th.pb-4.w-32  이름
                th.pb-4  질문 내용
                th.pb-4.w-52 질문 시간
        tbody
            each question in questions
                tr.border-4
                    th.p-4 #{question.NAME}
                    th.p-4 #{question.CONTEXT}
                    th.p-4 #{question.TIME}

block scripts
    script(type='text/javascript' src='../public/question.js')