extends layout.pug

block contents 
    div.bg-blue-900.h-full.pt-30vh
        div.p-8.mx-auto.rounded-xl.shadow-lg.bg-gray-300.w-96
            img#home-logo.mt-4(src="../public/logo.png", alt="")
            form.flex.flex-col.mt-6.space-y-4(method="POST" action="/sign-in")
                input.rounded.border.border-gray-200.p-2(name="id" type="number" placeholder="예약번호")
                input.rounded.border.border-gray-200.p-2(name="name" type="text" placeholder="이름")
                button.primary-btn.red-btn 접속

block scripts