extends layout.pug

block contents 
    div#main-div.bg-blue-900.h-full
        div#login-div.p-8.mx-auto.rounded-xl.shadow-lg.bg-gray-300
            img#home-logo.mt-4(src="../public/logo.png", alt="")
            form.flex.flex-col.mt-6.space-y-4(method="POST" action="/sign-in" onsubmit="return check()")
                input#id-input.rounded.border.border-gray-200.p-2(name="id" type="text" placeholder="소속" maxlength='29')
                input#name-input.rounded.border.border-gray-200.p-2(name="name" type="text" placeholder="이름" maxlength='19')
                button.primary-btn.red-btn.font-bold 시청하러가기
            if check 
                div.mx-auto 모두 입력해주세요
block scripts
    