@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body,
input,
select,
textarea,
button,
a {
  text-size-adjust: none;
  font-family: 'Pretendard', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;

  -moz-user-select: auto;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

body {
  background-color: #1d95d3;
}

.logo-img {
  object-fit: cover;
  width: 85%;
}
.login-wrapper,
.register-wrapper {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translateY(-50%);
  width: 33.3333%;
  transition: all 0.5s;
}

@media (max-width: 768px) {
  .login-wrapper,
  .register-wrapper {
    width: 100%;
    display: block;
    position: relative;
    left: 0px;
    bottom: -200px;
  }
}

#submitBtn {
  background-color: #1d95d3;
  transition: all 0.3s ease-out;
}

#submitBtn:hover {
  background-color: #005899;
}

#mask {
  width: 100vw;
  height: 100vh;
  z-index: 11;
  position: absolute;
  top: 0;

  background-color: white;
}

#mask > img {
  margin: 0 auto;
  width: 50%;
  transform: translateY(50%);
}
