.primary-btn {
  display: flex;
  height: 56px;
  border-radius: 12px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 24px;
}

.primary-btn .logo {
  justify-self: flex-start;
  width: 32px;
}

.red-btn {
  background-color: rgb(220, 38, 38);
  color: white;
}

.text {
  flex-grow: 1;
  text-align: center;
}

.pt-30vh {
  padding-top: 30vh;
}

.home-title {
  font-size: 3.2rem;
  letter-spacing: -2px;
  font-weight: 600;
  line-height: 3.5rem;
  color: #00033d;
}
@media (max-width: 480px) {
  .home-title {
    font-size: 2.2rem;
    letter-spacing: -1px;
    line-height: 2.4rem;
  }
}

#home-logo {
  margin: 0 auto;
  width: 70%;
}

#login-div {
  width: 27rem;
}

@media (max-width: 480px) {
  #login-div {
    width: 18rem;
  }
}

#main-div {
  padding-top: 24vh;
}
@media (max-width: 1024px) {
  #main-div {
    padding-top: 24vh;
  }
}
@media (max-width: 480px) {
  #main-div {
    padding-top: 18vh;
  }
}
.test {
  color: red;
}
